In [1]:
import pandas as pd

df_weather = pd.read_csv("./output.csv")
df_air = pd.read_csv("./outpu-air.csv")

df_weather.dtypes

date                     object
temperature_2m          float64
relative_humidity_2m    float64
rain                    float64
precipitation           float64
dtype: object

In [2]:
(df_weather.isnull().sum()).sort_values(ascending=False)

date                    0
temperature_2m          0
relative_humidity_2m    0
rain                    0
precipitation           0
dtype: int64

In [3]:
df_weather.describe().round(1)

       temperature_2m  relative_humidity_2m    rain  precipitation
count          8784.0                8784.0  8784.0         8784.0
mean             25.8                  27.9     0.0            0.0
std               8.9                  17.8     0.1            0.1
min               4.7                   3.4     0.0            0.0
25%              18.6                  13.7     0.0            0.0
50%              25.8                  23.1     0.0            0.0
75%              33.0                  38.3     0.0            0.0
max              44.9                 100.0     4.8            4.8

In [4]:

df_air.dtypes

date                 object
pm10                float64
pm2_5               float64
carbon_monoxide     float64
nitrogen_dioxide    float64
ozone               float64
sulphur_dioxide     float64
dtype: object

In [5]:
(df_air.isnull().sum()).sort_values(ascending=False)

date                0
pm10                0
pm2_5               0
carbon_monoxide     0
nitrogen_dioxide    0
ozone               0
sulphur_dioxide     0
dtype: int64

In [6]:
df_air.describe().round(1)

,pm10,pm2_5,carbon_monoxide,nitrogen_dioxide,ozone,sulphur_dioxide
count,8352.0,8352.0,8352.0,8352.0,8352.0,8352.0
mean,193.4,29.9,151.4,3.6,92.5,9.4
std,163.4,20.1,16.3,3.3,28.1,8.2
min,9.2,4.0,112.0,0.0,27.0,0.0
25%,84.1,18.0,139.0,1.2,71.0,3.1
50%,149.9,25.0,150.0,2.5,89.0,6.7
75%,249.6,35.0,162.0,4.9,111.0,13.3
max,1829.1,224.4,212.0,22.1,182.0,48.3

In [7]:
df_final = pd.merge(df_weather, df_air, on="date", how="outer")

df_final.head()

,date,temperature_2m,relative_humidity_2m,rain,precipitation,pm10,pm2_5,carbon_monoxide,nitrogen_dioxide,ozone,sulphur_dioxide
0,2024-01-01 03:00:00+00:00,10.873000,87.464490,0.0,0.0,52.2,17.2,140.0,1.6,56.0,8.1
1,2024-01-01 04:00:00+00:00,10.573000,89.529050,0.0,0.0,61.0,18.7,144.0,2.0,59.0,10.0
2,2024-01-01 05:00:00+00:00,12.873000,77.964030,0.0,0.0,72.9,20.5,149.0,2.5,64.0,12.0
3,2024-01-01 06:00:00+00:00,15.373000,67.660230,0.0,0.0,116.2,24.6,153.0,2.6,71.0,12.9
4,2024-01-01 07:00:00+00:00,17.272999,61.994476,0.0,0.0,141.6,27.4,153.0,2.1,81.0,11.9

In [8]:
(df_final.isnull().sum()).sort_values(ascending=False)

pm10                    432
pm2_5                   432
carbon_monoxide         432
nitrogen_dioxide        432
ozone                   432
sulphur_dioxide         432
date                      0
temperature_2m            0
relative_humidity_2m      0
rain                      0
precipitation             0
dtype: int64

In [9]:
df_final["pm10"] = df_final["pm10"].fillna(df_final["pm10"].median())
df_final["pm2_5"] = df_final["pm2_5"].fillna(df_final["pm2_5"].median())               
df_final["carbon_monoxide"] = df_final["carbon_monoxide"].fillna(df_final["carbon_monoxide"].median())
df_final["nitrogen_dioxide"] = df_final["nitrogen_dioxide"].fillna(df_final["nitrogen_dioxide"].median())  
df_final["ozone"] = df_final["ozone"].fillna(df_final["ozone"].median())
df_final["sulphur_dioxide"] = df_final["sulphur_dioxide"].fillna(df_final["sulphur_dioxide"].median()) 

(df_final.isnull().sum()).sort_values(ascending=False)

date                    0
temperature_2m          0
relative_humidity_2m    0
rain                    0
precipitation           0
pm10                    0
pm2_5                   0
carbon_monoxide         0
nitrogen_dioxide        0
ozone                   0
sulphur_dioxide         0
dtype: int64

In [10]:
df_final["date_converted"] = pd.to_datetime(df_final["date"], utc=True, errors="coerce")
df_final["data_iso"] = df_final["date_converted"].dt.strftime("%Y-%m-%dT%H:%M:%S")
df_final = df_final.drop(columns=["date_converted"])

In [11]:
df_final = df_final.round(2)

In [12]:
df_final.columns = df_final.columns.str.upper()
df_final.to_csv("data-cleaning-output.csv", index=False)